In [0]:
import pandas as pd
import numpy as np

In [0]:
from numpy.random import randn

In [0]:
df = pd.DataFrame(randn(5,5),index=['A','B','C','D','E'],columns=['v','w','x','y','z'])

In [0]:
randn(5,5)

Out[9]: array([[-0.40620618,  0.66560047, -1.41228068, -1.01116353, -0.8987079 ],
       [-0.7884577 , -0.14529325,  0.77008326, -0.44794307,  0.14691069],
       [-0.21931584, -1.29479891,  0.1225355 ,  2.14076762,  1.75670652],
       [-0.68164844,  1.16696189, -1.97848377, -0.72932717, -0.13015176],
       [ 0.11097974,  1.669468  , -0.70677401, -0.3646957 ,  0.21610331]])

In [0]:
display(df)

v,w,x,y,z
0.8452483230234102,1.2099446000417946,-2.3465850599876252,-0.22829434316891078,-0.5453287970519214
1.4146468127305694,-0.8832943170110467,-0.8940073379506545,1.1784515800738857,-0.3581415775217511
-0.4402992039910447,0.03668636163240675,-1.3878157341215522,-1.0608361777278144,0.8153784984490693
1.54267870208745,-1.580924484893323,0.5117947786483114,0.643346644149633,-0.6973575306707125
-0.47212349738551984,-0.4099305243377974,-1.1564172356290607,1.5364943946469014,0.907062181223375

In [0]:
df

,v,w,x,y,z
A,0.845248,1.209945,-2.346585,-0.228294,-0.545329
B,1.414647,-0.883294,-0.894007,1.178452,-0.358142
C,-0.440299,0.036686,-1.387816,-1.060836,0.815378
D,1.542679,-1.580924,0.511795,0.643347,-0.697358
E,-0.472123,-0.409931,-1.156417,1.536494,0.907062

In [0]:
df['v']

Out[12]: A    0.845248
B    1.414647
C   -0.440299
D    1.542679
E   -0.472123
Name: v, dtype: float64

In [0]:
df['z']

Out[16]: A   -0.545329
B   -0.358142
C    0.815378
D   -0.697358
E    0.907062
Name: z, dtype: float64

In [0]:
df['k']=8

In [0]:
df

,v,w,x,y,z,k
A,0.845248,1.209945,-2.346585,-0.228294,-0.545329,8
B,1.414647,-0.883294,-0.894007,1.178452,-0.358142,8
C,-0.440299,0.036686,-1.387816,-1.060836,0.815378,8
D,1.542679,-1.580924,0.511795,0.643347,-0.697358,8
E,-0.472123,-0.409931,-1.156417,1.536494,0.907062,8

In [0]:
df.drop('w',axis=1,inplace=True)

In [0]:
df

,v,x,y,z,k
A,0.845248,-2.346585,-0.228294,-0.545329,8
B,1.414647,-0.894007,1.178452,-0.358142,8
C,-0.440299,-1.387816,-1.060836,0.815378,8
D,1.542679,0.511795,0.643347,-0.697358,8
E,-0.472123,-1.156417,1.536494,0.907062,8

In [0]:
df.drop('A',axis=0,inplace=True)

In [0]:
df

,v,x,y,z,k
B,1.414647,-0.894007,1.178452,-0.358142,8
C,-0.440299,-1.387816,-1.060836,0.815378,8
D,1.542679,0.511795,0.643347,-0.697358,8
E,-0.472123,-1.156417,1.536494,0.907062,8

In [0]:
df.loc['C']

Out[25]: v   -0.440299
x   -1.387816
y   -1.060836
z    0.815378
k    8.000000
Name: C, dtype: float64

In [0]:
df=df[df>0]

In [0]:
df

,v,x,y,z,k
B,1.414647,NaN,1.178452,NaN,8
C,NaN,NaN,NaN,0.815378,8
D,1.542679,0.511795,0.643347,NaN,8
E,NaN,NaN,1.536494,0.907062,8

In [0]:
df.fillna(7)

,v,x,y,z,k
B,1.414647,7.000000,1.178452,7.000000,8
C,7.000000,7.000000,7.000000,0.815378,8
D,1.542679,0.511795,0.643347,7.000000,8
E,7.000000,7.000000,1.536494,0.907062,8

In [0]:
df.dropna()

In [0]:
df

,v,x,y,z,k
B,1.414647,NaN,1.178452,NaN,8
C,NaN,NaN,NaN,0.815378,8
D,1.542679,0.511795,0.643347,NaN,8
E,NaN,NaN,1.536494,0.907062,8

In [0]:
df.reset_index()

,index,v,x,y,z,k
0,B,1.414647,NaN,1.178452,NaN,8
1,C,NaN,NaN,NaN,0.815378,8
2,D,1.542679,0.511795,0.643347,NaN,8
3,E,NaN,NaN,1.536494,0.907062,8

In [0]:
newind = ['CA','NY','WY','OR']

In [0]:
df['States']=newind

In [0]:
df

,v,x,y,z,k,States
B,1.414647,NaN,1.178452,NaN,8,CA
C,NaN,NaN,NaN,0.815378,8,NY
D,1.542679,0.511795,0.643347,NaN,8,WY
E,NaN,NaN,1.536494,0.907062,8,OR

In [0]:
import pandas as pd

In [0]:
df1 = pd.DataFrame({'Chocolates': ['Snickers', 'Hersheys', 'skittles', 'lindt'],
                        'salad': ['asian', 'ceaser', 'brocolli', 'mexican'],
                        'icecreams': ['chocolate', 'pecan', 'strawberry', 'mango'],
                   'fruits':['strawberry','Melons','Mango','Dragonfruit']},
                        index=[0, 1, 2,3])

In [0]:
df2 = pd.DataFrame({'Chocolates': ['Dairymilk', 'Gems', 'Cadbury','munch'], 
                    'salad':['Plain','fruit','italian','American'],
                   'icecreams':['Blackforest','nutsoverload','fruitypunch','jackhammer'],
                  'fruits':['oranges','banana','apple','avacado']},
                  index=[4,5,6,7])

In [0]:
df1

,Chocolates,salad,icecreams,fruits
0,Snickers,asian,chocolate,strawberry
1,Hersheys,ceaser,pecan,Melons
2,skittles,brocolli,strawberry,Mango
3,lindt,mexican,mango,Dragonfruit

In [0]:
df2

,Chocolates,salad,icecreams,fruits
4,Dairymilk,Plain,Blackforest,oranges
5,Gems,fruit,nutsoverload,banana
6,Cadbury,italian,fruitypunch,apple
7,munch,American,jackhammer,avacado

In [0]:
pd.concat([df1,df2])

,Chocolates,salad,icecreams,fruits
0,Snickers,asian,chocolate,strawberry
1,Hersheys,ceaser,pecan,Melons
2,skittles,brocolli,strawberry,Mango
3,lindt,mexican,mango,Dragonfruit
4,Dairymilk,Plain,Blackforest,oranges
5,Gems,fruit,nutsoverload,banana
6,Cadbury,italian,fruitypunch,apple
7,munch,American,jackhammer,avacado

In [0]:
pd.concat([df1,df2],axis=1)

,Chocolates,salad,icecreams,fruits,Chocolates,salad,icecreams,fruits
0,Snickers,asian,chocolate,strawberry,NaN,NaN,NaN,NaN
1,Hersheys,ceaser,pecan,Melons,NaN,NaN,NaN,NaN
2,skittles,brocolli,strawberry,Mango,NaN,NaN,NaN,NaN
3,lindt,mexican,mango,Dragonfruit,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Dairymilk,Plain,Blackforest,oranges
5,NaN,NaN,NaN,NaN,Gems,fruit,nutsoverload,banana
6,NaN,NaN,NaN,NaN,Cadbury,italian,fruitypunch,apple
7,NaN,NaN,NaN,NaN,munch,American,jackhammer,avacado

In [0]:
pd.concat([df1,df2],axis=0)

,Chocolates,salad,icecreams,fruits
0,Snickers,asian,chocolate,strawberry
1,Hersheys,ceaser,pecan,Melons
2,skittles,brocolli,strawberry,Mango
3,lindt,mexican,mango,Dragonfruit
4,Dairymilk,Plain,Blackforest,oranges
5,Gems,fruit,nutsoverload,banana
6,Cadbury,italian,fruitypunch,apple
7,munch,American,jackhammer,avacado

In [0]:
left = pd.DataFrame({'State': ['Missouri', 'Kansas', 'Texas', 'Maryland','Newyork'],
                     'city': ['st.louis', 'wichita', 'dallas', 'baltimore','Buffalo'],
                     'county': ['manchester', 'overlandpark', 'prosper', 'Fredrick','Niagara']})
   
right = pd.DataFrame({'State': ['Missouri', 'Kansas', 'Texas', 'Maryland','Newyork'],
                          'Attractions': ['Meramic', 'skydiving', 'nasa', 'museum','timessquare'],
                          'indianpopulation': ['27000', '30000', '100000', '50000','70000']})

In [0]:
left

,State,city,county
0,Missouri,st.louis,manchester
1,Kansas,wichita,overlandpark
2,Texas,dallas,prosper
3,Maryland,baltimore,Fredrick
4,Newyork,Buffalo,Niagara

In [0]:
right

,State,Attractions,indianpopulation
0,Missouri,Meramic,27000
1,Kansas,skydiving,30000
2,Texas,nasa,100000
3,Maryland,museum,50000
4,Newyork,timessquare,70000

In [0]:
pd.merge(left,right,how='inner',on='State')

,State,city,county,Attractions,indianpopulation
0,Missouri,st.louis,manchester,Meramic,27000
1,Kansas,wichita,overlandpark,skydiving,30000
2,Texas,dallas,prosper,nasa,100000
3,Maryland,baltimore,Fredrick,museum,50000
4,Newyork,Buffalo,Niagara,timessquare,70000

In [0]:
pd.merge(left,right,how='left',on='State')

,State,city,county,Attractions,indianpopulation
0,Missouri,st.louis,manchester,Meramic,27000
1,Kansas,wichita,overlandpark,skydiving,30000
2,Texas,dallas,prosper,nasa,100000
3,Maryland,baltimore,Fredrick,museum,50000
4,Newyork,Buffalo,Niagara,timessquare,70000

In [0]:
pd.merge(left,right,how='right',on='State')

,State,city,county,Attractions,indianpopulation
0,Missouri,st.louis,manchester,Meramic,27000
1,Kansas,wichita,overlandpark,skydiving,30000
2,Texas,dallas,prosper,nasa,100000
3,Maryland,baltimore,Fredrick,museum,50000
4,Newyork,Buffalo,Niagara,timessquare,70000

In [0]:
pd.merge(left,right,how='outer',on='State')

,State,city,county,Attractions,indianpopulation
0,Missouri,st.louis,manchester,Meramic,27000
1,Kansas,wichita,overlandpark,skydiving,30000
2,Texas,dallas,prosper,nasa,100000
3,Maryland,baltimore,Fredrick,museum,50000
4,Newyork,Buffalo,Niagara,timessquare,70000

In [0]:
left = pd.DataFrame({'State': ['Missouri', 'Kansas', 'Texas', 'Maryland','Newyork'],
                     'city': ['st.louis', 'wichita', 'dallas', 'baltimore','Buffalo'],
                     'county': ['manchester', 'overlandpark', 'prosper', 'Fredrick','Niagara']})
   
right = pd.DataFrame({'Attractions': ['Meramic', 'skydiving', 'nasa', 'museum','timessquare'],
                          'indianpopulation': ['27000', '30000', '100000', '50000','70000'],
                     'food':['Panerabread','Aha','Texastoast','Jackfruitbiryani','streetfood']})

In [0]:
left.join(right)

,State,city,county,Attractions,indianpopulation,food
0,Missouri,st.louis,manchester,Meramic,27000,Panerabread
1,Kansas,wichita,overlandpark,skydiving,30000,Aha
2,Texas,dallas,prosper,nasa,100000,Texastoast
3,Maryland,baltimore,Fredrick,museum,50000,Jackfruitbiryani
4,Newyork,Buffalo,Niagara,timessquare,70000,streetfood

In [0]:
left.join(right, how='outer')

,State,city,county,Attractions,indianpopulation,food
0,Missouri,st.louis,manchester,Meramic,27000,Panerabread
1,Kansas,wichita,overlandpark,skydiving,30000,Aha
2,Texas,dallas,prosper,nasa,100000,Texastoast
3,Maryland,baltimore,Fredrick,museum,50000,Jackfruitbiryani
4,Newyork,Buffalo,Niagara,timessquare,70000,streetfood